@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
body {
  height: auto;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black !important;
  text-transform: uppercase;
}

.brand-logo {
  color: rgb(7, 150, 2) !important;
  font-weight: bold;
}

.nav-wrapper a.brand-logo {
  font-size: 25px;
}

.nav-wrapper ul li a {
  color: white !important;
}

.nav-wrapper ul li a:hover {
  color: rgb(7, 150, 2) !important;
  font-weight: bold;
}

ul li.active a {
  border-bottom: 3px solid rgb(7, 150, 2);
  color: rgb(7, 150, 2) !important;
  font-weight: bold;
}

h3 {
  border-bottom: 2px solid rgb(7, 150, 2);
}

#loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: rgb(12, 11, 11);
  overflow: hidden;
}

#loading .b {
  /* width: 120px;
  height: 120px;*/
  border-radius: 50%;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ro 2s infinite;
}

#loading .b1 {
  border-color: rgb(7, 150, 2);
  width: 120px;
  height: 120px;
  animation-delay: 0.2s;
}

#loading .b2 {
  border-color: rgb(7, 150, 2);
  width: 100px;
  height: 100px;
  animation-delay: 0.4s;
}

#loading .b3 {
  border-color: rgb(7, 150, 2);
  width: 80px;
  height: 80px;
  animation-delay: 0.6s;
}

#loading .b4 {
  border-color: rgb(7, 150, 2);
  width: 60px;
  height: 60px;
  animation-delay: 0.8s;
}

@keyframes ro {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.kartu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  height: auto;
  margin-top: 20px;
}

.home {
  padding-top: 180px;
  color: bisque;
}

.main {
  background-color: rgb(12, 11, 11);
  height: 700px;
}

.home h2 {
  font-size: 50px;
}

.home h2 span {
  color: rgb(7, 150, 2);
  font-weight: bold;
}

.home p {
  font-size: 30px;
}

.home .button {
  background: none;
  border: 2px solid rgb(7, 150, 2);
  color: white !important;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.home .button:hover {
  background: rgb(7, 150, 2);
  color: black !important;
}

.home .cv {
  margin-left: 10px;
}

.about p,
.about h5 {
  text-align: justify;
  margin-top: 70px;
}

.about h5 {
  font-weight: bold;
}

.about h2 {
  margin-bottom: 90px;
  font-size: 25px;
}

.about h3 {
  margin-top: 50px;
}

.about p {
  font-size: 20px;
  margin-top: 35px;
}

.about {
  /* height: 600px; */
  /* margin-top: 180px; */
}

.about img {
  height: 300px;
}

.skills img {
  height: 100px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.skills img.php {
  width: 100px;
}

.portfolio img {
  height: 150px;
  margin-bottom: 200px;
}

.contact .heading {
  padding-top: 10px;
}

.portfolio div a {
  margin-top: 20px;
}

.contact i {
  margin: 10px;
  font-size: 50px;
}

.contact .sosmed {
  margin-top: 100px;
}

.contact .sosmed a {
  margin-left: 15px;
}

.footer {
  margin-top: 20px;
  padding: 3px;
  background: rgb(12, 11, 11);
  color: rgb(7, 150, 2);
  font-weight: bold;
}

/*Responsive*/
@media (max-width: 800px) {
  .home h2 {
    font-size: 40px;
  }
  .home p {
    font-size: 20px;
  }

  .about p,
  .about h5 {
    text-align: justify;
  }

  .about p {
    font-size: 18px;
  }

  .about h2 {
    margin-bottom: 90px;
    font-size: 20px;
  }
  /* .contact {
    margin-top: 200px;
  }*/

  .skills img {
    margin-top: 80px;
    height: 70px;
    margin-bottom: 0;
  }

  .portfolio img {
    margin-bottom: 0;
  }

  /*.skills {
    height: 300px;
  }*/
}
